@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "serif";
  src: url(./assets/DIL-Serif-Regular.woff2);
}

@font-face {
  font-family: "serif";
  src: url(./assets/ppeiko-medium.otf);
  font-weight: bold;
}

@font-face {
  font-family: "sans";
  src: url(./assets/sans.woff);
}

/* @font-face {
  font-family: "sans";
  src: url(https://static1.squarespace.com/static/51762854e4b0c6cbe9552100/t/62ac0ecb72c4b9519991bb01/1655443147233/PPEiko-RegularItalic.woff2);
  font-style: italic;
} */

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "serif", sans-serif;
}

p {
  font-family: "sans", sans-serif;
}

@layer utilities {
  .center-absolute {
    transform: translate(-50%, -50%);
  }
}
