@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "serif";
  src: url(./assets/DIL-Serif-Regular.woff2);
}

@font-face {
  font-family: "serif";
  src: url(./assets/ppeiko-medium.otf);
  font-weight: bold;
}

@font-face {
  font-family: "sans";
  src: url(./assets/sans.woff);
}

body {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "serif", sans-serif;
}

p {
  font-family: "sans", sans-serif;
}

@layer utilities {
  .center-absolute {
    transform: translate(-50%, -50%);
  }
}
